include HISTORY.rst
include LICENSE
include README.rst
include ec2stack/__init__.py
include ec2stack/__main__.py
include ec2stack/configure.py
include ec2stack/controllers/__init__.py
include ec2stack/controllers/default.py
include ec2stack/core.py
include ec2stack/errors.py
include ec2stack/helpers.py
include ec2stack/models/__init__.py
include ec2stack/models/users/__init__.py
include ec2stack/models/users/models.py
include ec2stack/providers/__init__.py
include ec2stack/providers/cloudstack/__init__.py
include ec2stack/providers/cloudstack/disk_offerings.py
include ec2stack/providers/cloudstack/images.py
include ec2stack/providers/cloudstack/instances.py
include ec2stack/providers/cloudstack/keypairs.py
include ec2stack/providers/cloudstack/passwords.py
include ec2stack/providers/cloudstack/requester.py
include ec2stack/providers/cloudstack/security_groups.py
include ec2stack/providers/cloudstack/service_offerings.py
include ec2stack/providers/cloudstack/volumes.py
include ec2stack/providers/cloudstack/zones.py
include ec2stack/secretkey_manager.py
include ec2stack/services.py
include ec2stack/templates/change_instance_state.xml
include ec2stack/templates/create_keypair.xml
include ec2stack/templates/create_security_group.xml
include ec2stack/templates/create_volume.xml
include ec2stack/templates/generic_error.xml
include ec2stack/templates/image_attribute.xml
include ec2stack/templates/images.xml
include ec2stack/templates/instance_attribute.xml
include ec2stack/templates/instances.xml
include ec2stack/templates/keypairs.xml
include ec2stack/templates/password.xml
include ec2stack/templates/response.xml
include ec2stack/templates/run_instance.xml
include ec2stack/templates/secretkey.xml
include ec2stack/templates/securitygroups.xml
include ec2stack/templates/status.xml
include ec2stack/templates/volume_attachment.xml
include ec2stack/templates/volumes.xml
include ec2stack/templates/zones.xml
include migrations/alembic.ini
include migrations/env.py
include migrations/versions/1b1a5f6b42a_.py
include setup.py
include tests/__init__.py
include tests/controller_tests.py
include tests/disk_offering_tests.py
include tests/factories.py
include tests/images_tests.py
include tests/instances_tests.py
include tests/keypair_tests.py
include tests/password_tests.py
include tests/security_group_tests.py
include tests/settings.py
include tests/utils.py
include tests/volume_tests.py
include tests/zones_tests.py
